{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<h1>{{title}}</h1>
<div class="form">
    <!-- make sure the form has the crsf tokens -->
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
        {% for field in form
               if field.widget.input_type != 'hidden' %}
          <p>
            {{ field.label }}
            {{ field }}
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </p>
        {% endfor %}
        <button class="buttons">Submit</button>
    </form>

</div>

{% endblock %}