{% extends "base.html"%}
{% block title%}{{user.username}}{% endblock %}
{% block content %}
<div class="container">
    <!-- make the ability to add be in a bar on the top of the page -->

        <!-- edit self -->
        {% if user.id==current_user.id%}
        <div class="lcars-text-bar">
           <span> <a href="{{ url_for('users.edit_user', user_id=user.id) }}">Edit Profile</a></span>
          </div>
          <div class="lcars-text-bar c58">
            <span><a href="{{ url_for('users.delete_user', user_id=user.id) }}">Delete</a></span>
          </div>
        {% endif%}
    
    <div class="content-container pics-left">

        <div class="image">
            <img src="{{user.profile_pic}}" alt="user image">
        </div>
        <div class="user">

            <h2>{{user.username}}</h2>
            <h4><b class=""></b> {{user.location}}</h4>
            <p>{{user.bio}}</p>
        </div>
        <div class="user-posts">
            <ul class="lcars-list">
                {% if user.posts %}
                Your Posts:
                {% for post in user.posts %}
                <a href="{{url_for('users.post', post_id=post.id)}}"><li>{{post.title}}</li></a>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

</div>
{% endblock %}