{% extends "base.html" %} {% block title %} {{title}} {% endblock %} {% block content %}

<div class="edit-form">
    <h1 class="banner">{{title}}</h1>
    <div class="form">
        <!-- make sure the form has the crsf tokens -->
        <form method="POST" id="post_edit_form">
            {{ form.hidden_tag() }} <!--add type=hidden form fields -->
            {% for field in form
                   if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field }}
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
            </p>
            {% endfor %}
            <button>Submit</button>
        </form>
    </div>
</div>

{% endblock%}