{% extends "base.html" %} {% block title %} Universe {% endblock %} {% block
content %}
<div class="main-content-container">
  <h1 class="button main-banner">Universe</h1>
<!-- This link should take us to an animal page -->
<div class="container text-justify" id="div-info">
  <p class="paragraph-info">
    Learn more about the Star Trek universe by clicking on the links below.
  </p>
  <p class="paragraph-info">
    From animals to spaceships to weapons, the Star Trek universe is vast and
    varied.
  </p>
</div>
<ul>
  <li class="image-li-ships"><a href="{{url_for('universe.animals')}}">animals</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.astronomical_objects')}}">astronomical objects</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.characters')}}">characters</a></li> 
  <li class="image-li-ships"><a href="{{url_for('universe.conflicts')}}">conflicts</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.elements')}}">elements</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.foods')}}">foods</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.locations')}}">locations</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.materials')}}">materials</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.occupations')}}">occupations</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.organizations')}}">organizations</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.spacecrafts')}}">spacecrafts</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.spacecrafts_classes')}}">spacecrafts by class</a></li>
  <li class="image-li-ships"><a href="{{ url_for('universe.specieses') }}">species</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.titles')}}">titles</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.technologies')}}">technologies</a></li>
  <li class="image-li-ships"><a href="{{url_for('universe.weapons')}}">weapons</a></li>
</ul>
</div>
{% endblock %}
