{% extends "base.html" %}
<h1>Media</h1>
<div id="media">
    <p class="universe-info">
        Spanning over 50 years, close to 900 episodes, and 13 movies, the Star Trek
        universe is a rich and diverse one.
      </p>
</div>


{% block content %}
  <h1>Media</h1>
  <ul>
    
    <li><a href="{{url_for('universe.characters')}}">character</a></li>
   
    <li><a href="{{url_for('media.movies')}}">movies</a></li>
    <li><a href="{{url_for('media.performers')}}">performers</a></li>
    <li><a href="{{url_for('media.shows')}}">series</a></li>
    <p>series needs to connect to the seasons and episodes</p>
  </ul>
{% endblock %}
