{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1 class="movie-title">{{movie.title}}</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="movie-card">
        <!-- Insert js code here -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="movie-comment-form">
        <!-- I will need to post to where I want the movie comments to go -->
        <!-- Make sure for forms that the crsf tokens are being passed in as to not trigger an error -->
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field.label(class="form-label") }}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <div class="comment-btn-area">
          <button class="button">Add Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="banner">Cast</h2>
  <div class="mostly-customized-scrollbar actor-cards">
    

  </div>
</div>
<!-- insert a div to hold the characters scroll bar    -->

{% block scripts %}
<script src="{{ url_for('media.static', filename='/js/helpers.js')}}"></script>
<script src="{{ url_for('media.static', filename='/js/movie.js') }}"></script>
{% endblock %} {% endblock %}