{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block
content %}
<link rel="stylesheet" href="{{ url_for('media.static', filename='/css/movies.css') }}">
<h1>Movies</h1>
<ul>
	<!-- NOTE movie in this list should also correspond to each movie  -->
	{% for movie in movies %}
	<div class="movies container">
		<div class="movies-list d-flex flex-wrap">
		</div>
	</div>
		
	<!-- NOTE will try passing each title as a class that will be filled by the js -->
	{% endfor %}
</ul>
<div class="container movies">
	
</div>
{% block scripts %}
<script src="{{ url_for('media.static', filename='/js/movies.js') }}"></script>
<script src="{{ url_for('media.static', filename='/js/helpers.js')}}"></script>
{% endblock %} {% endblock %}
