{% extends "base.html" %}{% block title %}Media{% endblock %}


{% block content %}
<h1 class="banner">Media</h1>
<div class="container">
    <p class="info">
        Spanning over 50 years, close to 900 episodes, and 13 movies, the Star Trek
        universe is a rich and diverse one.
      </p>
</div>
  <ul>
    
    <li class="image-li-ships"><a href="{{url_for('universe.characters')}}">character</a></li>
    <li class="image-li-ships"><a href="{{url_for('media.movies')}}">movies</a></li>
    <li class="image-li-ships"><a href="{{url_for('media.performers')}}">performers</a></li>
    <li class="image-li-ships"><a href="{{url_for('media.series')}}">series</a></li>
  </ul>
{% endblock %}
