{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('media.static', filename='/css/movies.css') }}">

<h1 class="movie-title">{{movie.title}}</h1>
<div class="content-container">
  <div class="movie-card-container">
    <!-- Insert js code here -->
  </div>
  <!-- Reviews -->
  <h2 class="banner">Cast</h2>
  <div class="scroll-list-container">
    <ul class="actor-cards">
      <!-- Insert js code here -->
    </ul>
  </div>
</div>

<!-- insert a div to hold the characters scroll bar    -->

{% block scripts %}
<script src="{{ url_for('media.static', filename='/js/helpers.js')}}"></script>
<script src="{{ url_for('media.static', filename='/js/movie.js') }}"></script>
{% endblock %} {% endblock %}