{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
<link rel="stylesheet" href="{{ url_for('media.static', filename='/css/show.css') }}">
{% block content %}
<h1 id="show-title">{{show.title}}</h1>
<!-- content for this page does here -->
<div class="content-container">
  <div class="show-card-container">
    <!-- show card -->
  </div>
  <h2 class="banner">Cast</h2>
  <div class="scroll-list-container">
    <ul class="actor-cards">
      <!-- Insert js code here -->
    </ul>
  </div>
</div>
{% block scripts %}
<script src="{{ url_for('media.static', filename='/js/show.js') }}"></script>
<script src="{{ url_for('media.static', filename='/js/helpers.js')}}"></script>
{% endblock %} {% endblock %}