.movies-list, 
.series-list {
	/* flex with two per row */
	margin: 10px;
	column-gap: 20px;
	/* center items horizontally */
    justify-content: center;
    /* center items vertically */
    align-items: center;
    /* flex with two per row */
    display: flex;
    flex-wrap: wrap;
}

.movie-card,
.show-card {
    margin: 10px;
    color: #fff;
    width: 400px;
    height: 1000px;
    margin: 10px;
    border: #6cf solid 1px;
    border-radius: 5px;
    background-color: black;
    overflow: auto;
    /* make all the content fit into the card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.movie-card img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.plot-text {
    margin: 10px;
    padding: 10px;
    border: #6cf solid 1px;
    border-radius: 5px;
    background-color: #455580;
    overflow: auto;
}

.cast-list {
    overflow: auto;
    white-space: nowrap;
}

.actor-cards {
 
}

.actor-card {
    color: #fff;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: #6cf solid 1px;
    border-radius: 5px;
    background-color: #455580;
    overflow: auto;
}


.actor-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card {
    /* make all the content fit and then put a boarder around it */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
    width: 800px;
    height: 700px;
    color: #fff;
}

.img-container img {
    /* */
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.card-body-container {
    /* */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 600px;
}

.scroll-list-container {
    /* */
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 600px;
    overflow: auto;
}


.content-container {
    /* make all divs fit in this container */
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-content: space-between;
    margin: 10px;
    padding: 10px;
    width: 800px;
    height: 700px;
    color: #fff;

}