{% extends "base.html" %}
{% block content %}

<!-- if the user is in the session I want to log them out -->
<!-- {% if user %}
  <h1 class="title">
    Welcome, {{ user.first_name }}!
  </h1>
  <h2>Test</h2>
  {{user.first_name}}
  <a href="{{ url_for('auth.logout') }}">Logout</a>
{% else %}
  <h1 class="title">
    Welcome, Stranger!
  </h1>
  <a href="{{ url_for('auth.login') }}">Login</a>
{% endif %} -->
{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
{% endif %}
{% endblock %}