
{% block head %} 
<link rel="stylesheet" href="/static/css/main_index.css">
{% endblock %} 
{% extends "base.html" %} 
{% block title %} Trek {% endblock %} 

{% block content
%}
<!-- Main content here -->
<!-- make a div to hold an images of the whole galaxy -->
<div class="tng-quote">
    <h3>
        <em>Space...</em> the final frontier. These are the voyages of the starship Enterprise. Its continuing mission: to explore strange new worlds; to seek out new life and new civilizations; to boldly go where no one has gone before!

    </h3>
</div>
<div class="main-page">
    <div class="image galaxy">
        <img class=large-image src="{{url_for('static', filename='images/galaxy.png')}}" alt="galaxy" width="400" height="400">
        <a
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Galactic_Quadrant_Star_Trek.png/800px-Galactic_Quadrant_Star_Trek.png">Original</a>
    </div>
    <div class="quotes">
        
    </div>
</div>
{% block scripts %}

<script src="{{url_for('static', filename='js/trek_quotes.js')}}"></script>
{% endblock %} {% endblock %}